* {
  background-color: #5D6867;
  text-align: center;
}

#page {
width: 21em;
}

header {
  overflow: visible;
  font-family: arial;
  width: 20em;
  max-height: 4em;
  background-color: salmon;
  color: #00B4A6;
  font-size: 4em;
  text-shadow: 0.05em 0.05em 0.05em black;
  position: fixed;
  margin-top: auto;
  opacity: 0.9;
  display: block;
  z-index: 9;
  border-radius: 0.3em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
}

nav {
  overflow: visible;
  font-size: 0.6em;
  position: static;
  background-color: salmon;
  border-radius: inherit;
  vertical-align: middle;
}

/*.headerImage {
  display: block;
  flex: 1;
  position: fixed;
}*/
ul {
  background-color: salmon;
  vertical-align: middle;
  clear: both;
}

li {
  overflow: visible;
  vertical-align: middle;
  list-style: none;
  background-color: salmon;
  font-size: 1em;
  display: inline;
  border-radius: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
}

.dropdown {
  overflow: visible;
  position: relative;
  position: inline-block;
}

li:hover {
  color: #5D6867;
}

.dropdown-content, .dropdown-content2 {
  font-family: 'Verdana', serif;
  overflow: visible;
  right: -6em;
  background-color: #00B4A6;
  font-size: 0.7em;
  color: black;
  border: 0.2em solid #B5FF75;
  border-radius: 0.2em;
  display: none;
  position: absolute;
  text-shadow: none;
  min-width: 15em;
  height: auto;
  z-index: 9;
  padding: 0.2em;
  vertical-align: center;
  padding: 0.5em;
}

.dropdown-content2 {
  min-width: 18em;
  min-height: 12em;
  padding: 0.5em;
  right: -4em;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}

.dropdown:hover .dropdown-content2 {
  display: block;
  overflow: visible;
}


#content {
  color: black;
  position: relative;
  top: 13em;
  width: 80em;
  z-index: 3;
  padding: 2em;
}

h1 {
  font-family: 'Verdana', serif;
  font-size: 2em;
  text-align: left;
  padding-bottom: 0.1em;
  color: #FFBE75;
  text-shadow: 0.03em 0.03em 0.03em black;
  vertical-align: center;
}

p {
  text-align: left;
  font-family: 'Cookie', Cursive;
  font-size: 2.5em;
  padding: 0.2em;
}

.addy, .accent {
  font-family: 'Cookie', Cursive;
  color: #B5FF75;
  background: inherit;
  text-shadow: 0.1em 0.1em 0.1em black;
}

a {
  text-decoration: none;
  background-color: #00B4A6;
}

a:link {
  background-color: #00B4A6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accent {
  font-size: 2em;
}

img {
  border-radius: 0.5em;
  background-color: inherit;
}

.img1 {
  float: right;
  margin-top: 0.2em;
  margin-left: 0.2em;
}
.img2 {
  float: left;
  width: 55%;
  display: block;
}

.img3 {
  width: 55%;
  float: left;
  display: block;
}

.img4 {
  float: left;
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}

.img5 {
  margin-right: 0.5em;
}

.img6 {
  margin-left: 0.5em;
}

.img7 {
  vertical-align: center;
  float: left;
}
.sm {
  width: 42%;
  float: left;
  font-size: 0.8em;
  background-color: inherit;
  text-align: center;
  vertical-align: center;
}

.sm2 {
  font-size: 0.7em;
  background-color: inherit;
}

.container {
  clear: both;
}
