* {
  font-family: arial;
  background-color: lightgray;
  text-align: center;

}

table {
  position: relative;
  top: 20%;
  left: 5%;
  width: 90%;
  border: 3px solid black;
  border-collapse: collapse;
  vertical-align: middle;
}

th {
  border: 3px solid;
  padding: 4px;
  background-color: salmon;
}

td {
  border: 2px solid;
  text-align: center;
  background-color: lightblue;
}

header {
  color: orange;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

ul {
  width: 230px;
  overflow: auto;
  float: left;
  font-size: 14px;
  list-style: none;
  color: black;
  background-color: lightyellow;
}

li {
  background-color: lightyellow;
  padding: 3px;
  margin: 3px;
  font-stretch: extra-condensed;
}

h1 {
  color: salmon;
  font-size: 24px;
  text-shadow: 2px 2px black;
}

fieldset {
  width: inherit;
  border: 0.3em solid black;
  padding: 1em;
  border-radius: 1em;
  background-color: lightyellow;
  text-align: right;
}

label {
  font-size: 1.5em;
  background-color: lightyellow;

}

legend {
  font-size: 1.5em;
  width: inherit;
  border: 0.2em solid black;
  padding: 0.5em;
  border-radius: 1em;
  background: lightblue;
  text-align: left;
}

input {
  color: black;
  font-size: 1.5em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  background-color: #ECF0F1;

}

input[type="number"] {
  width: 3em;
}

input[type="text"] {
  width: 7em;
}
.submit {
  margin: 1em;
  width: 20px;
  display: inline;
}
input#submit {
  color: salmon;
  background-color: salmon;
}
