* {
  background-color: #5D6867;
  text-align: center;
}

#page {

}

header {
  font-family: arial;
  width: 20em;
  background-color: salmon;
  color: #00B4A6;
  font-size: 4em;
  text-shadow: 0.05em 0.05em 0.05em black;
  position: fixed;
  margin-top: auto;
  opacity: 0.9;
  display: block;
  z-index: 9;
  border-radius: 0.3em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

nav {
  overflow: auto;
  font-size: 0.6em;
  position: static;
  background-color: salmon;
  border-radius: inherit;
}

/*.headerImage {
  display: block;
  flex: 1;
  position: fixed;
}*/
ul {
  background-color: salmon;
  vertical-align: middle;
}

li {
  width: 30em;
  vertical-align: middle;
  list-style: none;
  background-color: #FFBE75;
  font-size: 1em;
  display: inline;
  border-radius: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-left: 1em;
  margin-right: 1em;

}

li:hover {
  color: #FFBE75;
  background-color: #5D6867;
}

#content {
  color: black;
  position: relative;
  top: 15em;
  width: 30em;
  z-index: 3;
}

h1 {
  font-family: 'Verdana', serif;
  font-size: 2em;
  padding: 0.5em;
}
p {
  font-family: 'Cookie', Cursive;
  font-size: 2.5em;
  padding: 0.5em;
}
/*
ul {
  width: 230px;
  overflow: auto;
  float: left;
  font-size: 14px;
  list-style: none;
  color: black;
  background-color: lightyellow;
}

li {
  background-color: lightyellow;
  padding: 3px;
  margin: 3px;
  font-stretch: extra-condensed;
}*/
