* {
  font-family: arial;
  text-align: center;

}

body {
  background-color: #5D6867;
}

form {
  position: relative;
  left: 30px;
  vertical-align: middle;
}

table {
  position: relative;
  top: 20%;
  left: 5%;
  width: 90%;
  border: 3px solid black;
  border-collapse: collapse;
  vertical-align: middle;
  opacity: 0.8;
}

th {
  border: 3px solid;
  padding: 4px;
  background-color: salmon;
}

td {
  border: 2px solid;
  text-align: center;
  background-color: #75FFA7;
  padding: 4px;
}

header {
  color: orange;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  opacity: 0.8;
}

ul {
  width: 230px;
  overflow: auto;
  float: left;
  font-size: 14px;
  list-style: none;
  color: #5D6867;
  background-color: #00B4A6;
}

li {
  background-color: #00B4A6;
  padding: 3px;
  margin: 3px;
  font-stretch: extra-condensed;
}

h1 {
  color: #FFBE75;
  font-size: 24px;
  text-shadow: 2px 2px black;
  border-width: 5px;
}

fieldset {
  width: 900px;
  border: 0.3em solid black;
  padding: 1em;
  border-radius: 1em;
  background-color: #00B4A6;
  text-align: left;
  opacity: 0.8;
}

label {
  width: 500px;
  font-size: 1.2em;
  background-color: #00B4A6;
  margin: 10px;
  display: inline-block;
  float: left;
  text-align: left;
}

.cc {
  font-size: 1em;
  display: inline-block;
  float: left;
  text-align: left;
  margin: 10px;
}

legend {
  font-size: 1.5em;
  width: inherit;
  border: 0.2em solid black;
  padding: 0.5em;
  border-radius: 1em;
  background: #75FFA7;
  text-align: center;
}

input {
  color: black;
  font-size: 1.5em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  background-color: #ECF0F1;
  display: inline-block;
  float: left;
  margin: 10px;
}

input[type="number"] {
  width: 3em;
}

input[type="text"] {
  width: 14em;
}

.submit {
  margin: 1em;
  width: 80px;
  display: block;
  float: right;
}
input#submit {
  color: salmon;
}
button:hover {
  cursor: pointer;
  background-color: salmon;
}
